.card {
  background: rgba(59, 166, 193, 0.811);
  backdrop-filter: blur(2px);
  margin-top: 10px;
}

.question-type-mcq {
  background-color: #d1e7dd; 
}

.question-type-truefalse {
  background-color: #f8d7da; 
}

.question-type-shortanswer {
  background-color: #fff3cd; 
}

#name {
  font-size: 18px;
  font-weight: bold;
  background: -webkit-linear-gradient(#f66363, #08763d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#status {
  font-size: 18px;
  font-weight: bold;
  background: -webkit-linear-gradient(#f66363, #08763d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description {
  font-size: 18px;
  font-weight: bold;
  background: -webkit-linear-gradient(#f66363, #08763d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
